body {
    background-color: #ECE9D8;
}

nav {
    background-color: white;
    width: 100%;
    height:70px;
    border-top: 5px solid #FDBD1F;
}

nav ul {

    float: right;
    height: 70px;
    margin:0;

}

nav ul li {
    display: inline-block;
    /*margin: 20px;*/
    margin-left: 20px;
    text-transform: uppercase;
    margin-right: 25px;
    height:45px;
    padding-top:25px;
    width: 80px;


}
a {
    text-decoration: none;
    color: #B6A9AD;
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
    font-family: Arial;


}

.current {
    background-color: #FDBD1F;
}

.current a {
    color: white;

}

