.mainmenu  ul{
    margin: 0 auto;
    text-align: center;

}


.mainmenu ul li {
    display: inline;
    margin: 20px;



}
.mainmenu ul li  a{
    text-decoration: none;
    font-size: 24px;

}

main {
    width: 800px;
    margin: 50px auto;
    text-align: center;

}

footer {
    margin: 0 auto;
    text-align: center;
}

aside {
    margin-top: 100px;
    max-width: 200px;
    display: inline-block;
    float: left;
}
aside nav ul li a {
    text-decoration: none;
    font-size: 20px;
}