.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

.roundCorners {
    border-radius: 20px;
}

.redBorder {
    border: 3px solid red;
}
.moveImageUp {
    margin-top: 10px;
}

.button {
    margin-left: 50px;
}