@font-face {
    font-family: BitterSweet;
    src: url(fonts/BitterSweet.ttf);
}

@font-face {
    font-family: CloisterBlack;
    src: url(fonts/CloisterBlack.ttf);
}

@font-face {
    font-family: Seagramtfb;
    src: url(fonts/Seagram_tfb.ttf);

}

body {
    max-width: 1100px;
}

.main {
    width: 333px;
    border: 1px solid black;
    height: 110px;
    float: left;
}
.image {
    width: 100px;
    height:100px;
    opacity: 0.5;
}
.image:hover {
    width: 105px;
    height:105px;
    opacity: 1;
}
.left {
    float: left;
    width: 100px;
}
.tet {
    width: 222px;
    float: left;
}
h3 {
    font-family: Seagramtfb;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p {
    font-family: CloisterBlack;
    margin-left: 20px;
}